* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  }

  h1 {
      font-size: 2.3rem;
      text-align: center;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
  }

  img {
      display: block;
      max-width: 100%;
      margin: 0 auto;     
  }

  .subtitle {
      text-align: center;
      padding-top: 0.5em;
      padding-bottom: 0.75em;
  }

  .container {
      background-color: #ffffff;
      padding: 2em 1em;
  }
  .mini-container {
      background-color: #eeeeee;
  }

  .img-div {
      background-color: white;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0;
  }